<!DOCTYPE html>
<html>
  <head>
    <title>Levernote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" type="image/png" href="<%= image_url('favicon.ico') %>"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 		<meta name="image" property="og:image" content="<%= image_url('screenshot3.png') %>" />

  </head>

  <body>
    <%= yield %>
  </body>
</html>
